# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# ==============================
# VIRTUAL ENVIRONMENTS
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# PYCHARM
# ==============================
.idea/
*.iml

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# DATA FILES (OPTIONNEL)
# ==============================

# Fichiers générés
total_ventes_trimestre.xlsx

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# LOG FILES
# ==============================
*.log